<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.jcartadministrationback.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.why.jcartadministrationback.po.OrderDetail">
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="ship_method" jdbcType="SMALLINT" property="shipMethod" />
    <result column="ship_address" jdbcType="VARCHAR" property="shipAddress" />
    <result column="ship_price" jdbcType="DOUBLE" property="shipPrice" />
    <result column="pay_method" jdbcType="SMALLINT" property="payMethod" />
    <result column="invoice_address" jdbcType="VARCHAR" property="invoiceAddress" />
    <result column="invoice_price" jdbcType="DOUBLE" property="invoicePrice" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.why.jcartadministrationback.po.OrderDetail">
    <result column="order_products" jdbcType="LONGVARCHAR" property="orderProducts" />
  </resultMap>
  <sql id="Blob_Column_List">
    order_products
  </sql>
  <insert id="insert" parameterType="com.why.jcartadministrationback.po.OrderDetail">
    insert into jcart_order_detail (order_id, ship_method, ship_address, 
      ship_price, pay_method, invoice_address, 
      invoice_price, comment, order_products
      )
    values (#{orderId,jdbcType=BIGINT}, #{shipMethod,jdbcType=SMALLINT}, #{shipAddress,jdbcType=VARCHAR}, 
      #{shipPrice,jdbcType=DOUBLE}, #{payMethod,jdbcType=SMALLINT}, #{invoiceAddress,jdbcType=VARCHAR}, 
      #{invoicePrice,jdbcType=DOUBLE}, #{comment,jdbcType=VARCHAR}, #{orderProducts,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.why.jcartadministrationback.po.OrderDetail">
    insert into jcart_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="shipMethod != null">
        ship_method,
      </if>
      <if test="shipAddress != null">
        ship_address,
      </if>
      <if test="shipPrice != null">
        ship_price,
      </if>
      <if test="payMethod != null">
        pay_method,
      </if>
      <if test="invoiceAddress != null">
        invoice_address,
      </if>
      <if test="invoicePrice != null">
        invoice_price,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="orderProducts != null">
        order_products,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="shipMethod != null">
        #{shipMethod,jdbcType=SMALLINT},
      </if>
      <if test="shipAddress != null">
        #{shipAddress,jdbcType=VARCHAR},
      </if>
      <if test="shipPrice != null">
        #{shipPrice,jdbcType=DOUBLE},
      </if>
      <if test="payMethod != null">
        #{payMethod,jdbcType=SMALLINT},
      </if>
      <if test="invoiceAddress != null">
        #{invoiceAddress,jdbcType=VARCHAR},
      </if>
      <if test="invoicePrice != null">
        #{invoicePrice,jdbcType=DOUBLE},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="orderProducts != null">
        #{orderProducts,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>