<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.why.jcartadministrationback.dao.ProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.why.jcartadministrationback.po.ProductDetail">
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="other_pic_urls" jdbcType="VARCHAR" property="otherPicUrls" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.why.jcartadministrationback.po.ProductDetail">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="Blob_Column_List">
    description
  </sql>
  <insert id="insert" parameterType="com.why.jcartadministrationback.po.ProductDetail">
    insert into jcart_product_detail (product_id, other_pic_urls, description
      )
    values (#{productId,jdbcType=INTEGER}, #{otherPicUrls,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.why.jcartadministrationback.po.ProductDetail">
    insert into jcart_product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="otherPicUrls != null">
        other_pic_urls,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="otherPicUrls != null">
        #{otherPicUrls,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>